<%= form_with(model: sku, local: true) do |form| %>
  <% if sku.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sku.errors.count, "error") %> prohibited this sku from being saved:</h2>

      <ul>
      <% sku.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.number_field :product_id %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.number_field :position %>
  </div>

  <div class="field">
    <%= form.label :item_num %>
    <%= form.text_field :item_num %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :availability_id %>
    <%= form.number_field :availability_id %>
  </div>

  <div class="field">
    <%= form.label :casepack %>
    <%= form.text_field :casepack %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
