<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :category_name, "Product Category" %>
    <small>Either type a new category, or pick a pre-existing one from the drop down</small><br />
    <%= form.text_field :category_name, list: "categories_autocomplete" %>
    <datalist id="categories_autocomplete">
      <% Category.all.each do |category| %>
        <option value="<%= category.name %>">
      <% end %>
    </datalist>
  </div>

  <div class="field">
    <%= form.label :title, "Product Name" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description, "Product Description" %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :image, "Link to the product image" %>
    <%= form.text_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
