<p id="notice"><%= notice %></p>

<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><%= link_to @product.category.name, category_path(@product.category) %></li>
</ul>

<h1><%= @product.title %></h1>
<% if current_user.try(:admin?) %>
  <%= link_to 'Edit Product', edit_product_path(@product) %> |
<% end %>

<img src="<%= @product.image %>" alt="<%= @product.title %>" />

<p>
  <%= @product.description %>
</p>

<%= render @product.skus %>
<% if current_user.try(:admin?) %>
  // #new sku form
<% end %>

