<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Christmas Lights Direct" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Direct importers of wholesale christmas lights and decorations" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="app_grid">
    <header class="site_head">
      <div class="container">
        <div class="hero_grid">
          <a href="/" title="Christmas Lights Direct" class="logo">
            <h1 class="page_title">Christmas Lights Direct</h1>
            <img src="/images/logo.png" alt="Christmas Lights Direct logo" />
          </a>
          <h2 class="description">Direct importers of wholesale christmas lights and decorations</h2>
        </div>
      </div>
    </header>
    <div class="site_subheader"> </div>
    <%= render 'layouts/navigation' %>
    <main class="site_main" role="main">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>
    <footer class="site_foot">
      <div class="container">
        <ul class="meta">
          <p>Copyright &copy; Christmas Lights Direct 2019</p>
          <%= render 'layouts/nav_links_for_auth' %>
        </ul>

        <address>2254 S. Weccacoe Ave<br/>
					Philadelphia, PA 19148</address>

        <div class="phone">
          <p>Local: (215) 334-1313 <br/>
            Toll-Free: (800) 334-9627<br/>
            Fax: (215) 336-5755</p>
          <p><a href="mailto:xmaslight@gmail.com">xmaslight@gmail.com</a></p>
		    </div>
		</div>
    </footer>
  </body>
</html>
